:root {
  font-family: 'Typeface', 'Montserrat', 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif !important;
}



.body__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a:link{
  text-decoration: none;
}

body{
  background-color: #8870ff;
}


section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container{
  height: 100%;
  width: 85%;
  box-shadow: 10px 10px 20px;
border-radius: 16px;
}

.row{
height: 100%;
max-width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 16px;
}

.body__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__container{
  width: 85%;

}

.navbar__items{
  width: 100%;
  background: #888888;
  border-radius: 12px;
  box-shadow: 10px 10px 30px;

}
.navbar__item{
  transition: color 300ms ease-in-out;
  font-size: 20px;
}

.navbar__item:hover{
color: #403b59;
}

ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6px;

}

#footer{
  margin-bottom: -50px;
}

li{
  justify-content: space-between;
  padding: 24px;
  color: whitesmoke ;

  list-style: none;
  font-size: larger;
}


#footer{
  width: 85%;
  height: 12px;
}

.footer__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list-item:hover{
  cursor:not-allowed;
}


.singleTeam{
  justify-content: center;
  align-items: center;
  border-radius: 16PX;
  width: 100%;
  padding: 16px;
  background-color: #0000008e;
}

.singleTeam--top{
  display: flex;
  justify-content: center;
  align-items: end;
gap: 12px;
}

.image--wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 24px;
  padding-left: 24px;
}

.flag__image{
  border-radius: 4px;
  border: 1px solid white;
}

.team__card--wrapper{
 display: flex;
 width: 60%;
 width: 8;
}

.teams--row{
  display: flex;
  flex-wrap:wrap;
  gap: 16px;
  padding-bottom: 32px;
}


.landing__image{
  width: 100%;
  filter: blur(7px);
}

.home__text {
  font-size: 40px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

h1, h2, p{
  color: #FFF;
}

#footer{
  margin-top: 32px;
  padding: 16px;
}


.results{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.matches__image--wrapper{
  background-color: whitesmoke;
}

.matches__wrapper{
  box-shadow: 4px 8px 10px;
  width: 50%;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 8px;
  transition: ease-in-out 200ms;
  background: whitesmoke;
}

.matches__wrapper:hover{
  width: 54%;
  cursor:not-allowed
}

.red{
  color: red;
}

.green{
  color: green;
}

.black{
  color: #000000;
}

.results__result{

  padding: 8px;
}

.matches__image--wrapper{
  display: flex;
}